[submodule "ass1-sockets"]
	path = ass1-sockets
	url = git@github.com:Szaroslav/socket-chat.git
[submodule "ass2-rest-api"]
	path = ass2-rest-api
	url = git@github.com:Szaroslav/country-calendar-info.git
